{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Data</title>
</head>
<body>
	<div class="main">
            <h1> Enter traffic data</h1>
    </div>

    <div>
        <form method="get">
            <div>
                <label for="cam1">Camera 1: </label>
                <input id="cam1" type="text" name="cam1">
            </div>

            <div>
                <label for="cam2">Camera 2: </label>
                <input id="cam2" type="text" name="cam2" >
            </div>

            <div>
                <label for="cam3">Camera 3: </label>
                <input id="cam3" type="text" name="cam3" >
            </div>

            <div>
                <label for="cam4">Camera 4: </label>
                <input id="cam4" type="text" name="cam4" >
            </div>

                <input type="submit" value="Analyze">
        </form>


    </div><br><br>
</body>
</html>